body {
  background-image: url('/static/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#navlink {
	color: #0C243C;
	opacity: 0.5;	
}

#navlink_cur {
	color: #0C243C;
	opacity: 0.75;	

}

#navlink:hover {
	opacity: 0.85;	
}

#navlink_cur:hover {
	opacity: 0.85;	
}

#start-button {
	background-color: #12271E;
	color: white;
	opacity: 0.8;
	font-size: 160%;
	width: 25%;
}

#start-button:hover {
	opacity: 0.95;			
}

#main-frame {
	border-radius: 5%; 
	margin-top: 2%;
}

.center {
	width: 70%;
	background-color: whitesmoke;
	opacity: 0.75;
}

#adsmart-nav-title {
	color: white; 
	opacity: 0.8; 
}

#gen-button {
	width: 15%;
	font-size: 150%;
	color: white;
	opacity: 0.8;
	background-color: #006400;
}

#gen-button:hover {
	opacity: 0.95;
}