{% extends "base.html" %}

{% block title %}
	Advertisement Prompts
{% endblock %}

{% block content %}
	<style type="text/css">
		#gen-ad-card {
			background-color: white; 
			border-radius: 5%; 
		}

		#re-gen {
			width: 20%;
			font-size: 150%;
			color: white;
			opacity: 0.8;
			background-color: #006400;
		}
		
		#re-gen:hover {
			opacity: 0.95;
		}
	</style>
	<br>
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<h3 id="adsmart-nav-title"><b>AdSmart</b></h3>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<button class="btn btn-outline-light me-2 active" onclick="window.location.href='/'" id="navlink" type="button"><b>Home</b></button>
					</li>
					<li class="nav-item">
						<button class="btn btn-outline-light me-2 active" onclick="window.location.href='{{url_for('features')}}'" id="navlink" type="button"><b>Features</b></button>
					</li>
					<li class="nav-item">
						<button class="btn btn-outline-light me-2 active" onclick="window.location.href='{{url_for('about')}}'" id="navlink" type="button"><b>About</b></button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<div class="position-absolute top-50 start-50 translate-middle card center" id="main-frame" style="text-align: center; height: 80%">
		<div class="card-body p-5">
			<div class="row">
				<div class="col-md-4">
					<div class="card-body" id="gen-ad-card">
						<h5 class="card-title" style="text-align: center;">Generated Ad 1</h5>
						<div class="overflow-auto">
    						<textarea class="form-control" rows="13">{{data["gen_prompts"][0]}}</textarea>
						</div>
						<br>
    					<a href="/take_prompt/0" class="btn btn-primary rounded-pill"><b>Take</b></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-body" id="gen-ad-card">
						<h5 class="card-title" style="text-align: center;">Generated Ad 2</h5>
						<div class="overflow-auto">
    						<textarea class="form-control" rows="13">{{data["gen_prompts"][1]}}</textarea>
						</div>
						<br>
    					<a href="/take_prompt/1" class="btn btn-primary rounded-pill"><b>Take</b></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-body" id="gen-ad-card">
						<h5 class="card-title" style="text-align: center;">Generated Ad 3</h5>
						<div class="overflow-auto">
    						<textarea class="form-control" rows="13">{{data["gen_prompts"][2]}}</textarea>
						</div>
						<br>
    					<a href="/take_prompt/2" class="btn btn-primary rounded-pill"><b>Take</b></a>
					</div>
				</div>
			</div>
			<br>
			<input class="btn rounded-pill" type="submit" value="Regenerate" id="re-gen" onclick="window.location.href='{{url_for('ad_prompts', name=data['name'], orga=data['orga'], kw=data['kw'], length=data['length'])}}'">
		</div>
	</div>
{% endblock %}