{% extends "base.html" %}
 
{% block title %}
	Form
{% endblock %}

{% block content %}
	{% for msg in get_flashed_messages() %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{ msg }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
	<br>
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<h3 id="adsmart-nav-title"><b>AdSmart</b></h3>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<button class="btn btn-outline-light me-2 active" onclick="window.location.href='/'" id="navlink" type="button"><b>Home</b></button>
					</li>
					<li class="nav-item">
						<button class="btn btn-outline-light me-2 active" onclick="window.location.href='{{url_for('features')}}'" id="navlink" type="button"><b>Features</b></button>
					</li>
					<li class="nav-item">
						<button class="btn btn-outline-light me-2 active" onclick="window.location.href='{{url_for('about')}}'" id="navlink" type="button"><b>About</b></button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<div class="position-absolute top-50 start-50 translate-middle card center" style="border-radius: 15px;">
		<div class="card-body p-5">
			<h2 style="text-align: center;">Advertisement Generator Input Form</h2>
			<br>
			<form method="POST">
				<div class="form-outline mb-4">
					<label class="form-label">Enter your Product/Service name <span style="color: red;">*</span></label>
					<input name="name" class="form-control form-control-lg" value="{{request.form.name}}" placeholder="e.g. Advertisement Generator" required>
				</div>

				<div class="form-outline mb-4">
					<label class="form-label">Enter your Organization name</label>
					<input name="orga" class="form-control form-control-lg" placeholder="e.g. AdSmart" value="{{request.form.orga}}">
				</div>

				<div class="form-outline mb-4">
					<label class="form-label">Enter your keywords (min 3, max 20) <span style="color: red;">*</span></label>
					<input name="kw" id="kw" class="form-control form-control-lg" placeholder="e.g. helpful, smart, easy to use, get 3 prompts with 3 different tones" value="{{request.form.kw}}">
    				<div id="button-container"></div>
				</div>

				<div class="form-outline mb-4">
					<label class="form-label">Choose your desired prompt length</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text">Length</label>
						</div>
						<select  name="length" class="custom-select" id="inputGroupSelect01">
							<option value="medium" selected>Medium</option>
							<option value="short">Short</option>
							<option value="long">Long</option>
						</select>
					</div>
				</div>

				<div class="d-flex justify-content-center">
					<input class="btn rounded-pill" id="start" type="submit" value="Generate" style="height: 60px; width: 160px; font-size: 25px; background-color: #006400;">
				</div> 

			</form>
		</div>
	</div>
{% endblock %}